
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


head{
    margin: 0;
    margin: 0;
    padding: 0;
}




body{
    font-family: ""
}

.cabecera{
    background-color: rgb(236, 235, 235);
    height: 150px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.logo{
    height: 80px;
    width: 200px;
    background-color: rgb(255, 255, 255); 
    border-radius: 800px; 
    padding: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.867); 
}

/* opciones cabecera */

.opcionescab {
    display: flex;
    gap: 30px; /* Espacio entre elementos */
    margin-left: 720px;
    font-family: "Andada Pro", serif;
} .opcionescab>a {}

.opcionescab a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.opcionescab a:hover {
    color: rgb(42, 110, 23);
}

/* opciones cabecera */